<section ng-controller="BeerCtrl">
	<div class="row">
		<div class="col-sm-12">
			<a href="#/list">back</a>
				<h2>{{ale.name}}</h2>
				<h4>{{ale.brewery}}</h4>
				<p>"{{ale.notes}}"</p>
				<h3>A.B.V. {{ale.abv}}&#37;</h3>
				<h3>&pound;{{ale.price}}</h3>
		

					<!-- <div class="col-sm-10">
						<a class="link-to-beer" href="#/beer/{{beer.name}}">{{beer.name}}</a>

					</div>
					<div class="col-sm-2">
						tried?
					</div> -->
				</div>
			</article>
		</div>
	</div>
</section>  



