		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularFire Login Boilerplate</a>
				</div>
				<div class="navbar-right navbar-form">
					{{greeting}}
					<button class="btn btn-primary" ng-click="logout()">Log Out</button>
					      <form class="navbar-form navbar-right" role="search">
			      <div class="form-group">
			            <h5>Hello {{greeting}}</h5>
			        </div>
			        <div class="form-group">
			            <input class="form-control" type="text" ng-model="loginData.email" placeholder="email">
			        </div>
			        <div class="form-group">
			            <input class="form-control" type="password" ng-model="loginData.password" placeholder="password">
			        </div>
			        <button class="btn btn-default" ng-click="login()" ng-submit="login">Sign In</button>
      </form>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
						<form role="form">
							<div class="form-group">
								<input type="email" class="form-control" id="inputEmail" ng-model="registerData.email" placeholder="Email">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="inputUsername" ng-model="registerData.username" placeholder="Username">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="inputPassword" ng-model="registerData.password" placeholder="Password">
							</div>
							<button type="submit" class="btn btn-primary" ng-submit="login()" ng-click="login()">Log In</button> 
							<button class="btn btn-default" ng-click="register()">Register</button>
							<img ng-show="loginBusy" src="img/loading.gif" style="margin: 0 10px;" />
						</form>
				</div>
				<div class="col-md-8">
					<section ng-controller="UsersCtrl">
						<div class="row">
							write about yourself
							<form role="form">
								<div class="form-group">
									<textarea rows="4" class="form-control" id="profileAbout" ng-model="profileData.about" placeholder="write about yourself"></textarea>
								</div>
								<button class="btn btn-default" ng-click="updateProfile()">Update</button>
							</form>
						</div>
						<div class="row">
							<div class="col-sm-6">
								public profiles
								<ul>
									<li ng-repeat="user in users"><a href="#/{{user.username}}">{{user.username}}</a></li>
								</ul>
							</div>
							<div class="col-sm-6">
								public profile view
								{{profile}}
							</div>
					</section>
				</div>
			</div>
		</div>